:root {
    --primary-color: #EC1C24;
    --secondary-color: #808080;
    --terciary-color: #FFFFFF;
    --quartary-color: #F16C71;
    --black-color: rgba(0, 0, 0, 0.466);
    --gray-transparent-color: #444;
}
.header-senai-professor{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
body{
    background-color: var(--primary-color);
}
.main-senai-professor{
    width: 500px;
    background-color: var(--terciary-color);
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.img-aluno{
    width: 135px;
    height: 135px;
}
.title-teacher{
    color: var(--secondary-color);
}
.inputs-login{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 65px;
    gap: 10px;
    
}
.input-registration{
    outline: none;
    border: none;
    border-bottom:0.5px solid var(--secondary-color);
    width: 300px;
    height: 33px;

}

.input-error{
    outline: none;
    border: none;
    
    border-bottom:0.5px solid var(--primary-color);
    width: 300px;
    height: 33px;
}
.btn-enter{
    width:160px;
    height: 45px;
    border-radius: 25px;
    background-color: var(--primary-color);
    position: relative;
    margin-top: 25px;
    margin-bottom: 50px;

}
.btn-enter > a{
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--terciary-color);
}
.forget-password{
    color: var(--secondary-color);
}
.click-here{
    color: var(--primary-color);
    text-decoration: none;
}
.back-aluno{
    position: relative;
    top:100px;
    left: 720px;
    z-index: 99;
}
.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--secondary-color);
}


@media screen and (max-width:500px){
    .title-teacher{
        font-size: 1.5rem;
        
    }
    body{
        background-color:var(--terciary-color);
    }
    .input-registration{
        width: 233px;
    }
    .main-senai-professor{
        width: 83%;
        padding: 0px;
        margin-top: 30px;
    }
    .back-aluno{
       
        top: -40px;
        left: 40px;
     
    }
    .password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

}