*{
    padding: 0;
    margin: 0;
    
    font-family: 'Inter', sans-serif;


}
:root {
    --primary-color: #EC1C24;
    --secondary-color: #808080;
    --terciary-color: #FFFFFF;
    --quartary-color: #F16C71;
    --gray-black: #4F4F4F;
    --black-color: #000;
    --gray-transparent-color: #444;
    --blue-color:#4473B3;
}

.header-atividades{
    padding: 20px;
}
a{
    text-decoration: none;
}
.header-atividades > a > i{
   font-size: 1.5rem;
   color: var(--secondary-color);

}

.main-all-activities{
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 50px;

   gap: 20px;
}
.activities{
    width:40%;
    height: 60px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.text-activities{
    width: 100%;
    display: flex;

    gap: 25%;
}
.edit-atividade{
    font-size: 2.0rem;
    color: var(--terciary-color);
}
.title-activities{
    font-size: 1.5rem;
    color: var(--terciary-color);


}
.criterio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 1.7rem;
  padding-top: 20px;

}
@media screen and (max-width:500px){
    .activities{
        width:85%;
       
    }

    .text-activities{
      font-size: 1.1rem;
    }

    .edit-atividade{
        font-size: 1.3rem;
        color: var(--terciary-color);
    }
    .title-activities{
        font-size: 1.0rem;
        color: var(--terciary-color);
    
    
    }
    .critério{
        font-size: 0.8rem;
        color: var(--terciary-color);
    
    }

}