* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

:root {
    --primary-color: #EC1C24;
    --secondary-color: #808080;
    --terciary-color: #FFFFFF;
    --quartary-color: #F16C71;
    --gray-black: #4F4F4F;
    --black-color: #000;
    --gray-transparent-color: #444;
    --default-color: #1967D2;
    --purple-color: #9853CF;
    --green-color: #23C088;
    --card-aluno-color: #D13C42;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.back-turmas {
    display: none;
}

.add-inputs-value {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;

}
.btnContaineraddMoreInputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.nome-atividade {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--terciary-color);
    border-top: 8px solid #EC1C24;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.nome-atividade2{
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--terciary-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.nome-atividade2 h3 {
    color: var(--secondary-color);
}

.atividade-realizada{
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--terciary-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.text-red{
    position: relative;
    right: 41%;
    bottom: 113%;
    color: var(--primary-color);
    font-size: 0.688rem;
    font-weight: 600;
}

.text-criterion{
    position: relative;
    right: 5%;
}

.desejavel{
    display: flex;
    position: relative;
    right: 21%;
}

.result{
    width: 20%;
    height: 30px;
    position: relative;
    right: 15%;
    outline: none;
    border: none;
    border-bottom: 0.5px solid var(--secondary-color);
    color: var(--secondary-color);
}

.metas{
    position: relative;
    right: 22%;
}


form{
    display: flex;
    gap: 25px;
}

.text-gray{
    position: relative;
    right: 41%;
    bottom: 70%;
    color: var(--secondary-color);
    font-size: 0.688rem;
    font-weight: 600;
}

.container-submit-addcriterio {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px;
}

.add-criterio {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submite {
    position: relative;
    right: 20%;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--card-aluno-color);
    color: var(--terciary-color);
    border-radius: 20px;
    cursor: pointer;
}

.btn-more {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 1.5rem;
    border-radius: 50%;
    border: solid var(--secondary-color, 1px);
}

.container-js {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.delete-button {
    background-color: white;
    color: var(--gray-black);
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #f2f2f2;
  }

@media screen and (max-width:500px) {

    .back-turmas{
        display: flex;
        position: absolute;
        top: 1.75%;
        right: 88.06%;
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 1.563rem;
    }

    .nome-atividade {
        width: 122%;
    }

    .container-criterio {
        width: 122%;
        padding: 30px;
    }

    .container-select-yes-or-no-criterio>form {
        width: 145%;
        display: flex;
        gap: 14px;
    }

    .container-submit-addcriterio {
        width: 100%;
        padding: 0px;
    }

    .add-criterio {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .text-adc {
        width: 200px;
    }
}